:root {
  --green: hsl(160, 70%, 40%);
  --green-dark: hsl(160, 70%, 35%);
  --grey: hsl(160, 0%, 65%);
  --grey-dark: hsl(160, 0%, 55%);
}

* {
  font-family:'Courier New', Courier, monospace;
  font-size: 16px;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#chat-container {
  max-width: 500px;
  width: calc(100vw - 60px);
  margin: 30px auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
}

#admin-container {
  max-width: 500px;
  width: calc(100vw - 60px);
  margin: 30px auto;
}

#chat-window {
  height: 400px;
  overflow: auto;
  background: #f9f9f9;
}

#output p {
  display: flex;
  justify-content: flex-start;
  padding: 14px 0px 10px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
  line-height: 1.5;
}

#output p.self {
  justify-content: flex-end;
}

#feedback p {
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong {
  color: var(--green);
}

label {
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

input {
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.btn {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  opacity: 1;
  pointer-events: all;
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
}

.btn.primary {
  background-color: var(--green);
  border: 1px solid var(--green);
  border-radius: 0 0 5px 5px;
  width: 100%;
}

.btn.primary:hover:not(:disabled) {
  background-color: var(--green-dark);
}

.btn.secondary {
  border-radius: 5px;
  background-color: var(--grey);
  border: 1px solid var(--grey);
}

.btn.secondary:hover:not(:disabled) {
  background-color: var(--grey-dark);
}

#emoji-dropdown {
  margin: 5px;
  padding: 5px;
  outline: none;
  border: none;
}

.btn.emoji {
  opacity: 0.8;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  transition: opacity 0.2s ease;
}

.btn.emoji:hover {
  opacity: 1;
}

.btn:disabled {
  opacity: 0.7;
  pointer-events: none;
  cursor: not-allowed;
}